*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto"sans-serif;
}

a{
    text-decoration: none;
    color:black;
}

header{
   display:flex;
   justify-content: space-between;
   padding: 15px;
}

.header--img{
    width: 40px;
    height: 40px;
}

.header--list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width:300px;
}
